@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  background: #1d3641;
  font-weight: 200;
}
button {
  outline: none;
}
.s_pad {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.sec_title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}
.sec_title span {
  display: inline-block;
  position: relative;
}
.sec_title span:before {
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #fff;
  z-index: 4;
}
.sec_title span:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  width: 30px;
  content: "\00a7";
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  z-index: 5;
  display: block;
  background: #1d3641;
  line-height: 1;
}
.theme-btn {
  padding: 15px 25px;
  background: linear-gradient(rgb(226, 123, 26), rgb(233, 51, 51));
  transform: translateY(0);
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: normal;
  transition: 400ms ease-in-out;
  max-width: 100%;
  width: 180px;
  border: none;
}
.theme-btn:hover {
  transform: translateY(-8px);
  text-decoration: none;
  color: inherit;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input:-internal-autofill-previewed {
  background-color: inherit;
}
/* ============= Front Page Header ============= */
main {
  position: relative;
  z-index: 1;
}
.headerFixed header nav {
  position: fixed;
  top: -83px;
  left: 0;
  width: 100%;
  z-index: 3;
  animation: fromTop 1.5s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
header nav {
  background: #1d3641;
}
@keyframes fromTop {
  from {
    top: -83px;
  }
  to {
    top: 0;
  }
}
header .navbar-brand img {
  width: 200px;
  height: 56px;
}
header .navbar .navbar-nav li a.nav-link {
  padding: 25px 20px;
  display: inline-block;
  color: white;
  position: relative;
  z-index: 1;
}
header .navbar .navbar-nav li a.nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  opacity: 0;
  background: #e93832;
  transition: 400ms ease-in-out;
  z-index: -1;
}
header .navbar .navbar-nav li a.nav-link:hover:before {
  opacity: 1;
}
.video_slider {
  display: none;
}
.video_slider.slick-initialized {
  display: block;
}
.video_slider .videos {
  height: calc(100vh - 73px);
  position: relative;
}
.video_slider .videos::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0, #1d3641, transparent);
}
.video_slider video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
/* ============= Video Slider setting ============= */
button.slick-arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  border: 1px solid white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(29, 54, 65, 0.49);
  transform-origin: top;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.slick-arrow.slick-prev {
  transform: translateX(-70px);
}
.video_slider:hover button.slick-arrow {
  opacity: 1;
}
button.slick-arrow img {
  width: 20px;
  height: 20px;
}

.video_slider .video_overlay {
  position: absolute;
  top: 50%;
  color: white;
  z-index: 1;
  width: 750px;
  max-width: 100%;
  padding: 15px 25px 25px 25px;
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
  background: rgba(29, 54, 65, 0.71);
  transform: translateY(-50%);
}
.video_slider .video_overlay p {
  margin-bottom: 0;
}
.video_slider .videos.slick-active .video_overlay {
  animation: animate 3s ease-in-out forwards;
}
@keyframes animate {
  0% {
    transform: translateX(70px) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}
.video_slider .video_overlay h1 {
  font-weight: bold;
}
.slick-slider {
  user-select: text;
}
.slick-list.draggable {
  user-select: none;
}
/* ============ About Sec ============ */
.about_sec {
  text-align: center;
}
/* ============ Gallery Sec ============ */
.gallery-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-slider button.slick-arrow {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0) !important;
  order: 3;
  opacity: 1;
  margin: 25px 5px 0;
}
.unit {
  display: flex;
  background-color: #132730;
  border-radius: 18px;
  overflow: hidden;
  height: 100%;
}

.gallery-wrap {
  flex: 0 0 30%;
  max-width: 100%;
  overflow: hidden;
}

.gallery-wrap:hover img {
  transition: 1s;
  transform: scale(1.1);
}

.gallery-wrap img {
  transition: all 1s ease-in-out;
  object-fit: cover;
  height: 100%;
}

.gallery-disc {
  display: flex;
  justify-content: center;
  padding: 30px 25px 25px 25px;
  flex-direction: column;
  flex: 0 0 70%;
  max-width: 100%;
}

.gallery-disc p {
  line-height: 1.4;
}

.gallery-disc ul {
  padding-top: 0;
  padding-left: 0px;
  column-count: 2;
  color: #fff;
  font-weight: 600;
  list-style: none;
  font-size: 12px;
}

.gallery-disc ul li:before {
  content: "✓";
  padding-right: 10px;
  color: gold;
}

.btn-gallery {
  /* margin-left: 25px;
  width: 80%; */
  border-radius: 50px;
  border: none;
  padding: 10px 25px;
  background: rgb(37 73 88);
  margin-top: auto;
}

.btn-gallery:hover {
  color: #fff;
  background: linear-gradient(rgb(226, 123, 26), rgb(233, 51, 51));
}

.btn-gallery a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-gallery a {
  color: #fff;
}
/* ========== Contact Form ============ */
.contact .theme-btn {
  margin-top: 30px;
}
.contact form input.form-control,
.contact form textarea.form-control {
  background: #254958;
  border: none;
  border-radius: 0;
  height: 3rem;
  color: white;
  transition: border-left 200ms ease-in-out;
}
.contact .form-group.area {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact form textarea.form-control {
  height: 100%;
}
.contact form input.form-control:focus,
.contact form textarea.form-control:focus {
  border-left: 3px solid white;
  box-shadow: none;
  outline: none;
}
/* form validation setting */
#contact_form .form-group small {
  color: #e74c3c;
  visibility: hidden;
}
#contact_form .form-group.error input {
  background: rgba(215, 57, 57, 0.24);
}
#contact_form .form-group.error small {
  visibility: visible;
}
#contact_form .form-group.success input {
  border-left: 4px solid #2ecc71;
  background: #255856;
}
/* ============== Footer ============== */
footer {
  background: #19323e;
  padding: 10px 0;
}
footer p {
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
}
/* ================== page loader ================== */
body.loaded {
  overflow-y: auto;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.overlay .overlayDoor:before,
.overlay .overlayDoor:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #1d3641;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.8s;
}
.overlay .overlayDoor:before {
  left: 0;
}
.overlay .overlayDoor:after {
  right: 0;
}
.overlay.loaded .overlayDoor:before {
  left: -50%;
}
.overlay.loaded .overlayDoor:after {
  right: -50%;
}
.overlay.loaded .overlayContent {
  opacity: 0;
  margin-top: -15px;
}
.overlay .overlayContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  width: 350px;
  height: 150px;
}
/* ================== Gallery Page ========================= */

/* changer */

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  background: none;
  color: #78add1;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.5s;
}
ul.tabs a {
  text-decoration: none;
}

ul.tabs li.current {
  background: #254958;
  color: #fff;
}

.tab-content {
  display: none;
  background: #254958;
  padding: 15px;
  color: #fff;
}

.tab-content.current {
  display: inherit;
}
#tab-2 h2 ~ p {
  text-align: center;
  padding: 10px 10px 25px 10px;
}
/* amenities styling */
.amenities-imgs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  padding-left: 80px;
}
.amenities-list {
  margin: 0;
  padding: 0;
  column-count: 3;
}
.amenities-list li img {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.amenities-list li {
  display: block;
  list-style: none outside;

  padding: 0.5rem 1rem;
  animation: slidein 0.3s ease 1 both;
}

.amenities-list li:nth-child(2) {
  animation-delay: 0.15s;
}
.amenities-list li:nth-child(3) {
  animation-delay: 0.3s;
}
.amenities-list li:nth-child(4) {
  animation-delay: 0.45s;
}
.amenities-list li:nth-child(5) {
  animation-delay: 0.6s;
}
.amenities-list li:nth-child(6) {
  animation-delay: 0.75s;
}
.amenities-list li:nth-child(7) {
  animation-delay: 0.9s;
}
.amenities-list li:nth-child(8) {
  animation-delay: 1.05s;
}
.amenities-list li:nth-child(9) {
  animation-delay: 1.2s;
}

.amenities-list li a {
  display: block;
  text-decoration: none;
  color: black;
}

@keyframes slidein {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

/* amenities styling */

/* changer */
/* go back btn */

.h-btn {
  border: 3px solid #fff;
  color: #fff;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}
.h-btn:hover {
  border: 3px solid #1d3641;
}
.h-btn .nav-link {
  padding: 8px 20px !important ;
  transition: all 0.3s linearp[hil];
}
.h-btn .nav-link:hover {
  background-color: #fff;
  color: #1d3641 !important;
}

/* go back btn */
/* gallery style start */

.gallery-img {
  display: flex;
  transition: all 0.1s linear;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  padding-bottom: 25px;
}
.gallery-img a {
  flex: 0 0 33%;
  max-width: 33%;
  padding: 20px;

  overflow: hidden;
}
.gallery-img a img {
  height: 100%;
  width: 100%;
  transition: all 0.3s linear;
  object-fit: cover;
  filter: grayscale(80%);
  border-radius: 10px;
}
.gallery-img a img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.g-sec span:after {
  background: #254958;
}
@media only screen and (min-width: 768px) {
  .phone_form {
    margin-bottom: 0;
  }
  .hamburger {
    display: none;
  }
  .cross {
    display: none;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
@media only screen and (max-width: 1199px) {
  .amenities-list {
    column-count: 2;
  }
}
@media only screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .video_slider .video_overlay {
    width: 650px;
  }
  button.slick-arrow {
    width: 50px;
    height: 50px;
    opacity: 1;
    right: 47%;
    transform: translateX(50%);
  }
  button.slick-arrow.slick-prev {
    transform: translateX(-35px);
  }
  button.slick-arrow img {
    width: 15px;
    height: 15px;
  }
  .unit {
    flex-wrap: wrap;
    height: 100%;
    border: 2px solid #456e7f;
  }
  .gallery-wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .gallery-wrap img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .gallery-disc {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .video_slider .video_overlay {
    width: auto;
    left: 0;
    margin: 0 40px;
  }
  .sec_title span:before {
    bottom: -10px;
  }
  .sec_title span:after {
    bottom: -25px;
  }
  /* ============ Hamburger ============ */
  .hamburger {
    cursor: pointer;
    padding: 15px;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    opacity: 0.8;
  }
  .hamburger-box {
    position: relative;
    width: 40px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    position: absolute;
    width: 30px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;
  }
  .hamburger-inner:after,
  .hamburger-inner:before {
    display: block;
    content: "";
  }
  .hamburger-inner:before {
    top: -7px;
  }
  .hamburger-inner:after {
    bottom: -7px;
  }
  .cross {
    display: block;
    text-align: right;
    margin: 25px;
    cursor: pointer;
  }
  .cross span {
    font-size: 20px;
    background: #1d2a30;
    line-height: 1;
    color: white;
    padding: 4px 11px;
  }
  /* =========== navbar =========== */
  header .navbar-collapse {
    position: fixed;
    left: 0px;
    background: #1d3641;
    width: 300px;
    height: 100%;
    top: 0px;
    display: block;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translate3d(-100%, 0, 0);
    overflow: auto;
    z-index: 6;
  }
  header .navbar-collapse.show {
    transform: translateX(0);
    box-shadow: 10px 0 5px rgba(0, 0, 0, 0.1);
  }
  header .navbar-collapse > ul {
    margin-top: 70px;
  }
  header .navbar-collapse > ul > li {
    transform: translateX(-100%);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
      opacity 1s cubic-bezier(0.86, 0, 0.07, 1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    opacity: 1;
  }
  header .navbar .navbar-nav li a.nav-link {
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px dashed #386578;
    font-size: 20px;
  }
  header .navbar .navbar-nav li:last-child a.nav-link {
    border-bottom: 0;
  }
  .navbar-collapse .navbar-nav > li > a:before {
    position: relative;
    content: "→";
    left: 0;
    width: 30px;
    height: 30px;
    transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    margin-left: 0;
    margin-right: 10px;
    opacity: 1;
    visibility: visible;
  }
  header .navbar-collapse.show > ul > li {
    transform: translateX(0);
  }
  header .navbar-collapse.show > ul > li:nth-child(1) {
    transition-delay: 0.2s;
  }
  header .navbar-collapse.show > ul > li:nth-child(2) {
    transition-delay: 0.25s;
  }
  header .navbar-collapse.show > ul > li:nth-child(3) {
    transition-delay: 0.3s;
  }
  header .navbar-collapse.show > ul > li:nth-child(4) {
    transition-delay: 0.35s;
  }
  .unit {
    display: flex;
    height: 100%;
    border: none;
  }
  .gallery-wrap {
    flex: 0 0 30%;
    max-width: 100%;
  }
  .gallery-wrap img {
    height: 100%;
  }
  .gallery-disc {
    flex: 0 0 70%;
    max-width: 100%;
  }
  /*=======gallery======= */
  .gallery-img a {
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* ======amenities======= */
  .amenities-list {
    column-count: 2;
  }
  .amenities-imgs-list {
    justify-content: flex-start;
    padding-left: 0;
  }
}

@media only screen and (max-width: 575px) {
  .h1,
  h1 {
    font-size: 2.1rem;
  }
  .h2,
  h2 {
    font-size: 1.7rem;
  }
  .h3,
  h3 {
    font-size: 1.5rem;
  }
  .h4,
  h4 {
    font-size: 1.25rem;
  }
  .h5,
  h5 {
    font-size: 1.05rem;
  }
  .h6,
  h6 {
    font-size: 0.85rem;
  }
  .video_slider .videos {
    height: 400px;
  }
  .video_slider .video_overlay {
    top: 40%;
    padding: 10px 15px;
  }
  .navbar-brand {
    margin: 0 10px;
  }
  .sec_title span:after {
    left: 49%;
    width: 28px;
    font-size: 23px;
    bottom: -21px;
  }
  .loader img {
    width: 300px;
    height: 100px;
  }
  /* ==amenities== */
  .amenities-list {
    column-count: 1;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 15px;
  }
  .video_slider.slick-initialized {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .video_slider .videos::after {
    content: none;
  }
  button.slick-arrow {
    position: relative;
    bottom: -16px;
    right: 0;
    transform: translateX(0);
  }
  button.slick-arrow.slick-prev {
    order: 2;
    transform: translateX(-11px);
  }
  button.slick-arrow.slick-next {
    order: 3;
  }
  .video_slider .video_overlay {
    bottom: -53px;
    top: unset;
    width: 96%;
    left: 0;
    margin: 0 10px;
  }
  .video_slider .videos {
    height: 350px;
  }
  /* =============== navbar =============== */
  header .navbar-collapse {
    width: 100%;
  }
  header .navbar-collapse > ul {
    margin-top: 100px;
    margin-bottom: 70px;
  }
  header .navbar .navbar-nav li a.nav-link {
    text-align: center;
  }
  header .navbar .navbar-nav li a.nav-link::before {
    content: none;
  }
  header .navbar-collapse > ul > li {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
      opacity 1s cubic-bezier(0.86, 0, 0.07, 1);
  }
  header .navbar-collapse.show > ul > li {
    opacity: 1;
    transform: translateX(0);
  }
  /* tab */
  ul.tabs li {
    padding: 10px 10px;
  }
}
@media only screen and (max-width: 460px) {
  .gallery-slider {
    padding-top: 0px;
  }
  .unit {
    flex-wrap: wrap;
    height: 100%;
    border: 2px solid #456e7f;
  }
  .gallery-wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .gallery-wrap img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .gallery-disc {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
